# Byte-compiled / optimized / DLL files
# Distribution / packaging
*.egg-info/
build
dist
*.lock

# Venv
.venv/

# Pyenv
.python-version

# Unit test / coverage reports
.coverage
coverage.xml
junit/*
htmlcov/*

# Caches
.pytest_cache/
.ipynb_checkpoints/

# Frontend
frontend/node_modules/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# VSCode
.vscode/

# Idea
.idea/
*.iml

# MacOS
.DS_Store

# local mlflow files
mlruns/

# Data
postgres_data/
*.json
*.crc
!project.json
*.csv
*.parquet

# Drawio
*.drawio.bkp
