name: CI pipeline

on:
  pull_request:
    types: [ opened, synchronize ]
    branches:
      - 'main'
    paths:
      - '**.py'
      - 'pyproject.toml'
      - 'Dockerfile'
      - '**.yaml'
      - '**.html'
      - '**.js'
      - '**.css'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    services:
      postgres:
        image: pgvector/pgvector:pg16
        ports:
          - 5432:5432
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create .env-test file
        run: |
          cat <<EOF > backend/.env-test
          YOUTUBE_API_KEY=${{ secrets.YOUTUBE_API_KEY }}
          HTTPS_PROXY=${{ secrets.HTTPS_PROXY }}
          DB_USER=postgres
          DB_PASSWORD=postgres
          DB_HOST=localhost
          DB_PORT=5432
          DB_NAME=postgres
          HOSTNAME=localhost
          EOF

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install project dependencies
        run: |
          cd backend && uv sync --all-extras

      - name: Run pre-commit check
        run: |
          cd backend && uv run pre-commit run --all-files

      - name: Run pytest
        run: |
          cd backend && uv run pytest --cov-report "xml:coverage.xml" --cov ragtube tests/

      - name: Pytest coverage comment
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-xml-coverage-path: ./backend/coverage.xml

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json

      - name: Install frontend dependencies
        run: |
          cd frontend && npm ci

      - name: Check frontend formatting
        run: |
          cd frontend && npm run format:check
